.btn {
    border-radius: 50%;
    background: var(--light-color);
    width: 30px;
    height: 30px;
    transition: 300ms ease all;

    &:active {
        transform: scaleY(0.85);
    }

    .fas {
        color: var(--text-color);
    }
}

.animate-squize {
    animation: 500ms ease release-squize;
}

@keyframes release-squize {
    0% {
        transform: scaleY(0.85);
    }
    20% {
        transform: scaleY(1.1);
    }
    50% {
        transform: scaleY(0.95);
    }
    70% {
        transform: scaleY(1.05);
    }
    100% {
        transform: scaleY(1);
    }
}